*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* Slightly better practice */
}

html {
  // What one rem is !!
  font-size: 62.5%; /* 10/16 = .625 multiply by 100 => 62.5% */
}
body {
  box-sizing: border-box; /* slightly better practice*/
}
